:root {
    --color-white: #FFF;
    --color-black: #111;
    --color-asphalt: #343A40;

    --main-font: 'Raleway', sans-serif;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--main-font);
    font-size: 1.6rem;
    line-height: 1.8;
}

h1, h2, h3 {
    font-weight: 900;
    margin: 1rem 0 4rem 0;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 5.8rem;
}

h3 {
    font-size: 5rem;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}

.btn {
    color: var(--color-asphalt);
    background-color: var(--color-white);
    border: 1px solid var(--color-asphalt);
    padding: .5rem .2rem;
    transition: background-color .3s;
}

.btn:hover {
    background-color: var(--color-asphalt);
    color: var(--color-white);
}

/* Utilites */
.text-center {
    text-align: center;
}
.mt-5 {
    margin-top: 5rem;
}

/* Header */
.header {
    min-height: 60rem;
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    padding: 3rem 0;
}

@media ( min-width: 768px ){
    .header {
        padding: 2rem 0;
    }
}

.header-content {
    display: flex;
    flex-direction: column;
    height: calc(60rem - 3rem);
    justify-content: space-between;
    color: var(--color-white);
}

@media ( min-width: 768px ){
    .bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.site-name {
    font-weight: 300;
    text-align: center;
    font-size: 3rem;
}
@media ( min-width: 768px ){
    .site-name {
        font-size: 5rem;
    }
}

.site-name span {
    font-weight: 900;
}